<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="U2B_InAddr" value=""/>
    <add key="U2B_OutAddr" value=""/>
    <add key="U2B_EnableProxy" value="true"/>
    <add key="U2B_ProxyType" value="socks5"/>
    <add key="U2B_ProxyAddr" value="127.0.0.1"/>
    <add key="U2B_ProxyPort" value="1080"/>
    <add key="U2B_ChkAllSub" value="false"/>
    <add key="U2B_ChkAllAutoSub" value="false"/>
    <add key="U2B_ChkSpecifySub" value="false"/>
    <add key="U2B_SpecifySub" value="ja"/>
    <add key="U2B_ChkFormat" value="false"/>
    <add key="U2B_TxtFormat" value=""/>
  </appSettings>
</configuration>